<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="script.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="header.css">
  <title>WhatIsAPP - By Pirogrammer</title>
</head>

<body>
  <header class="">
    <div class="wrapper">
      <a class="logo-link">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="website-name">WhatIsAPP</span>
      </a>
      <nav class="navbar">
        <a href="/" class="link">Home</a>
        <a href="/about" class="link">About</a>
        <a href="/contact" class="link">Contact</a>
      </nav>
      <button class="join-button">Join Chat</button>
      <div class="menu">
        <div class="ham-nav">
          <a href="/" class="home-link">Home</a>
          <a href="/about" class="about-link">About</a>
          <a href="/contact" class="contact-link">Contact</a>
          <button onclick="location.href = '/chat'" class="join-chat">Join Chat</button>
        </div>
      </div>
      <div class="ham-burger">
        <img src="./images/hamburger.png" alt="More items">
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h1 class="greet">Welcome to WhatIsAPP</h1>
      <p class="summary">WhatIsAPP is a place where users can chat with each other no matter where they are, This is a minimal chat application inspired by Whatsapp!</p>
      <a href="/chat">
        <button class="join-chat-2">Join Chat</button>
      </a>
    </div>
  </main>
</body>

</html>
